[global]
DEBUG = False
LOGFILE = /var/log/mqtt-aprs.log
MQTT_HOST = 10.0.0.1
MQTT_PORT = 1883
MQTT_SUBTOPIC = aprs
MQTT_USERNAME = 
MQTT_PASSWORD = 
; Leave coordinates blank to disable distance publishing.
APRS_LATITUDE = 
APRS_LONGITUDE = 
APRS_CALLSIGN = N0CALL
APRS_PASSWORD = -1
APRS_HOST = rotate.aprs.net
APRS_PORT = 14580
APRS_FILTER = 
APRS_PROCESS = True
METRICUNITS = False
