[Unit]
Description=mqtt-aprs service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=mqtt-aprs
Group=mqtt-aprs
WorkingDirectory=/opt/mqtt-aprs
ExecStart=/opt/mqtt-aprs/venv/bin/python /opt/mqtt-aprs/mqtt-aprs.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
